.square{
    float: left;
    width: 40px;
    height: 40px;
    background-color: var(--chess-light);
    border: none;
}

.blacksquare{
    background-color: var(--chess-gray);
    color: white;
}

.active-square{
    background-color: green;
}

.Board{
    position: relative;
}

.board-row{
    overflow: hidden;
}

.alpha-row{
    overflow: hidden;
}

.alpha-square{
    float: left;
    color: var(--chess-dark);
    font: var(--main-font);
    width: 40px;
    height: 40px;
    padding-bottom: 5px;
    text-align: center;
}

.num-square{
    float: left;
    color: var(--chess-dark);
    font: var(--main-font);
    width: 40px;
    height: 40px;
    text-align: center;
}

.alpha-active{
    color: #c83737ff;
    background-color: #ffffff99;
}

.mask{
    z-index: 0;
    position: absolute;
    width: 320px;
    height: 160px;
    background-color: #ff000055;
    top: 45px;
    left: 40px;
}