:root {
    --chess-light: #dbe2e3ff;
    --chess-dark: #122122ff;
    --chess-gray: #6d6d6d;
    --main-font: 40px "Arial Rounded MT Bold", Futura, sans-serif;
}
body{
    background-color: #eeeaeaff;
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    color: var(--chess-dark);
    font: var(--main-font)
}

h2 {
    text-align: center;
    color: var(--chess-dark);
    font: 30px "Arial Rounded MT Bold", Futura, sans-serif;
}

.menu-button{
    width: 100px;
    height: 40px;
    background-color: var(--chess-gray);
    color: white;
    border: none;
    margin: 5px;
}

.topbar {
    margin: 0;
    background-color: var(--chess-gray);
    padding: 15px 15px;
    color: var(--chess-light);
    font: var(--main-font);
}

.game {
    display: flex;
    justify-content: center;
    align-items: center
}