.piece{
    position: absolute;
    width: 40px;
    height: 40px;
    background-size: contain;
    border: none;
    pointer-events: none
}

.pawn_w{
    background: url("../png/pawn_w.png") center no-repeat;
    background-size: contain;
}

.bishop_w{
    background: url("../png/bishop_w.png") center no-repeat;
    background-size: contain;
}

.king_w{
    background: url("../png/king_w.png") center no-repeat;
    background-size: contain;
}

.knight_w{
    background: url("../png/knight_w.png") center no-repeat;
    background-size: contain;
}

.queen_w{
    background: url("../png/queen_w.png") center no-repeat;
    background-size: contain;
}

.rook_w{
    background: url("../png/rook_w.png") center no-repeat;
    background-size: contain;
}

.pawn_b{
    background: url("../png/pawn_b.png") center no-repeat;
    background-size: contain;
}

.bishop_b{
    background: url("../png/bishop_b.png") center no-repeat;
    background-size: contain;
}

.king_b{
    background: url("../png/king_b.png") center no-repeat;
    background-size: contain;
}

.knight_b{
    background: url("../png/knight_b.png") center no-repeat;
    background-size: contain;
}

.queen_b{
    background: url("../png/queen_b.png") center no-repeat;
    background-size: contain;
}

.rook_b{
    background: url("../png/rook_b.png") center no-repeat;
    background-size: contain;
}